.message {
    width: 600px;
    height: 77px;
    margin-top: 24px;
    margin-left: 635px;

}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    width: 575px;
    height: 60px;
}

.imageAndText img {
    width: 48px;
    height: 48px;
    margin-top: 10px;
    margin-left: 15px
;



}

.text {
    margin-left: 70px;
    border-radius: 20px 20px 20px 20px;
    width: 600px;
    background: rgba(0, 102, 204, 1);
    padding: 10px;




;
}

.text:after {

}

.name {
    width: 40px;
    height: 22px;
    top: 199px;
    left: 1097px;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    color: rgb(246, 246, 246);
    margin-bottom: 5px;
    margin-left: 510px;



}

.messageText {
    width: 557px;
    height: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    /*text-align: left;*/
    color: rgb(246, 246, 246);;
;


}

.time {
    width: 29px;
    height: 12px;
    top: 364px;
    /*margin-left: 80px;*/
    color: rgb(0, 0, 0);
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    text-align: left;
    /*margin-top: 0px;*/
    margin-left: 540px;

}