.App {
    --header_height: 60px;

}

.hw {
    /*display: flex;*/
    flex-direction: column;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    width: 1280px;
}

.hwTitle {
    margin: 20px auto;
    flex-direction: column;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;

    width: 165px;
    height: 27px;
    top: 131px;
    left: 70px;
}