.friendMessage {
    width: 575px;
    height: 77px;
    margin-top: 160px;
}

.friendImageAndText {
    display: flex;
    width: 575px;
    height: 60px;
    margin-left: 70px;

}

.friendImageAndText img {
    width: 48px;
    height: 48px;
    margin-top: 1px;
    /*margin-left: 25px;*/
    /*margin-bottom: 25px;*/


}

.friendText {
    width: 450px;
    height: 60px;
    top: 311px;
    margin-left: 25px;
    border-radius: 20px 20px 20px 20px;
    background: rgb(164, 167, 177);
    padding: 10px;

}

.friendText:after {

}

.friendName {
    width: 40px;
    height: 22px;
    margin-left: 15px;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    color:rgba(0, 0, 0, 1);
}

.friendMessageText {
    /*display: flex;*/
    width: 489px;
    height: 20px;
    margin-left: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: rgba(0, 0, 0, 1);;
}

.friendTime {
    width: 29px;
    height: 12px;
    /*top: 364px;*/
    /*margin-left: 80px;*/
    color: rgba(0, 0, 0, 1);
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    text-align: left;
    margin-left: 80px;
    margin-top: 1px;
}
